body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

button {
    display: inline-block;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cat-all {
    text-decoration: underline;
}

div.item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    margin: 40px 80px 45px 0px;
}


.member__intro {
    background-image: url(../img/member.png);
    padding: 92px 0px 80px 340px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #FF0EE7;
}

.member__text {
    color: #FF0EE7;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category {
    display: flex;
    flex-direction: row;
}

.category__filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid #FF0EE7;
    margin-left: 150px;
    padding: 75px 107px 45px 45px;
}

.category__filter button:hover {
    color: #FF0EE7;
    transition: all .3s;
}

.category__filter button:active {
    color: #b70aa5;
}

.item {
    background: rgba(255, 14, 231, 0.10);
}

.cat__text {
    padding: 35px 65px 30px 55px;
}

.cat__name {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cat__desc {
    color: #D1CFCF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 17px 0px;
}

.cat__photo {
    margin: 30px 20px 30px 0px;
}